/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  align-content: start;
  display: block;
  content: " placeholder ";
  margin: 8px;
  flex: 999 999 auto;
  max-width: 400px;
}

.image-container img {
  width: 100%;
  flex: 0 0 auto;
  margin: 8px;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: purple;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}